
html{
  scroll-behavior: smooth;
}




*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto';
    
}

/* HOME   */

.video{
    opacity: 0.8;
    
}
.Homebtn{
    background: none;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 22px;
    transition: 0.5s all;
    text-decoration: none;
}
.Homebtn:hover{
    background-color: rgb(29, 172, 167);
    border: none;
    color: white;
    
}
.active{
    color: saddlebrown !important ;  
}
.nav-link{
    font-size: 19px ;
    padding: 0px 20px !important ;
}
.nav-link:hover{
    color: saddlebrown !important ;
   
}
#navbarcontent{
    margin-top: -7px;
    
}

/* ABOUT */

#about h1{
 
    border-bottom: 4px solid currentColor;
   line-height:72px;
   display: inline-block;
   text-align: center;
   position: relative;
   left: 40%;
   font-weight: 600;
}
#about h4{
   font-weight: 600;
}
#mypic{
  max-height: 300px;
  max-width: 300px;
border-radius: 550px;
    position: relative;
}
#mypic:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
}
.progress{
    margin-top: 20px;
    height: 30px;
    

    
}
.progress_value{
font-size: 20px ;
padding-left: 30px;
background-color: white;
color:black;
opacity: 0.5;
font-weight: 600;
transition: 0.5s all;
}
.progress_value:hover{
background-color: rgb(63, 177, 230);
color: white;
}
.progress_percentage{
    font-size: 20px ;
    margin-right: 80px;
}


/* Portfolio */
#portfolio{
    background-color: rgb(245,245,245);
}
#portfolio h1{
 
    border-bottom: 4px solid currentColor;
   line-height:72px;
   display: inline-block;
   text-align: center;
   position: relative;
   left: 40%;
   font-weight: 600;
}

  
  /* Style the buttons */
  #portfolio_btn button{
    border: none;
    outline: none;
    /* padding: 12px 10px; */
    /* font-size: 20px; */
    color: rgb(114, 109, 111) !important ;
    /* background-color: rgb(196, 211, 226); */
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s ease;
  font-size: 25px;
  
  }
  
    #portfolio_btn button:hover {
    color:rgb(227,28,110) !important;
  }
  
  /* #portfolio_btn button .active {
    background-color:rgb(227,28,110);
    color: white;
  }  */

  .content {
    position: relative;
  
  }
  
  
  .content_overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .content:hover .content_overlay {
    bottom: 0;
    height: 100%;
  }
  
  .content_text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

